/*  TOP DEALS BANNER  */

.top-deals-banner {
  width: 100%;
  max-width: 2800px;
  margin: 16px auto;
  border-radius: 8px;
  overflow: hidden;
}

.top-deals-banner img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .top-deals-banner img {
    height: 150px;
  }
}
